Beaker==1.6.4
BeautifulSoup==3.2.1
Django==1.6.3
Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.2
Magic-file-extensions==0.2
Mako==0.9.1
MarkupSafe==0.21
PyPanel==2.4
PyYAML==3.11
Pyrex==0.9.9
SQLAlchemy==0.9.4
Terminator==0.97
Twisted==13.2.0
Werkzeug==0.9.4
aniso8601==0.82
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bzr==2.6.0
cffi==0.8.2
cryptography==0.3
docutils==0.11
fastcluster==1.1.13
foolscap==0.6.4
gdata==2.0.18
html2text==3.200.3
httplib2==0.8
iotop==0.6
ipython==2.0.0
iso8601==0.1.10
itsdangerous==0.24
keyring==3.3
matplotlib==1.3.1
mercurial==2.9.2
miro==6.0
mutagen==1.22
netsnmp-python==1.0a1
networkx==1.8.1
nltk==3.0a3
numpy==1.8.1
oauth2==1.5.211
obkey==1.0
pdfshuffler==0.6.0
pep8==1.5.6
pexpect==3.1
ply==3.4
protobuf==2.5.0
pyOpenSSL==0.14
pyPdf==1.13
pycparser==2.10
pycrypto==2.6.1
pycurl==7.19.3.1
pygobject==3.12.1
pyipmi==0.11.0
pyparsing==2.0.2
pysqlite==2.6.3
python-dateutil==2.2
python-libtorrent==0.16.16
python-musicbrainz==2.1.5
python-xlib==0.15rc1
pytz==2014.2
pyxdg==0.25
pyzmq==14.1.1
regex==0.1.20120613
scikit-learn==0.14.1
scipy==0.13.3
six==1.6.1
tornado==3.2
virtualenv==1.11.6
wsgiref==0.1.2
zenmap==6.46
zope.interface==4.1.1
